In [6]:
#THE CLASSIC
print("HELLO,WORLD!")
print("SRIHARINI")

HELLO,WORLD!
SRIHARINI

In [3]:
#ESCAPE ARTIST
print("Aplle\nBanana\nCherry")

Aplle
Banana
Cherry

In [5]:
#THE TABULAR
print("ID\tNAME\tMARK")

ID	NAME	MARK

In [8]:
#INTEGER ECHO
age=int(input("Enter Your Age:"))
print("You Are",age,"Years Old.")

Enter Your Age: 19

You Are 19 Years Old.

In [16]:
#DECIMAL PRECISION
num=float(input("Enter a number:"))
print(f"{num:.2f}")

Enter a number: 2.123

2.12

In [18]:
#CHARACTER CAPTURE
ch=input("Enter a character:")
print("The character is:",ch)

Enter a character: A

The character is: A

In [20]:
#THE BOX PRINTER
print("*****")
print("*   *")
print("*   *")
print("*****")

*****
*   *
*   *
*****

In [27]:
#BIO DATA
RollNumber =int(input("enter your RollNumber:"))
Section=input("enter your Section:")
CGPA=float(input("enter your CGPA:"))
print(f"RollNumber:{RollNumber},Section:{Section},CGPA:{CGPA}")

enter your RollNumber: 29
enter your Section: B
enter your CGPA: 8.95

RollNumber:29,Section:B,CGPA:8.95

In [30]:
#QUOTE ME
print('sri said,"python is fun"')

sri said,"python is fun"

In [40]:
#THE MULTI-READER
a,b=map(int,input("Enter two numbers:").split(","))
print("sum=",a+b)

Enter two numbers: 23,56

sum= 79

In [1]:
#BASIC SUM
a = int(input("A = "))
b = int(input("B = "))
print("Sum =", a + b)

A =  23
B =  45

Sum = 68

In [2]:
#THE BIG FOUR
a = int(input("A = "))
b = int(input("B = "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

A =  34
B =  56

Addition: 90
Subtraction: -22
Multiplication: 1904
Division: 0.6071428571428571

In [3]:
#THE REMAINDER FINDER
a = int(input("A = "))
b = int(input("B = "))
print("Remainder =", a % b)

A =  45
B =  89

Remainder = 45

In [4]:
#FLOAT DIVISION
a=float(input("A="))
b=float(input("B="))
c=a/b
print(c)

A= 90
B= 80

1.125

In [5]:
#SQUARE AND CUBE
a = int(input("A = "))
print("Square =", a ** 2)
print("Cube =", a ** 3)

A =  5

Square = 25
Cube = 125

In [9]:
#AVERAGE CLACULATOR
a=int(input("A="))
b=int(input("B="))
c=int(input("C="))
AVERAGE=(a+b+c)/3
print("AVERAGE=",AVERAGE)

A= 20
B= 40
C= 60

AVERAGE= 40.0

In [10]:
#SALARY CALCULATOR
basic=float(input("ENTER BASIC PAY:"))
hra=basic*0.10
ta=basic*0.05
total_salary=basic+hra+ta
print("Total Salary=",total_salary)

ENTER BASIC PAY: 25000

Total Salary= 28750.0

In [12]:
#THE DIGIT CALCULATOR
num=int(input("THE NUMBER IS="))
print("RESULT=",num//10)

THE NUMBER IS= 345

RESULT= 34

In [13]:
#LAST DIGIT EXTRACTOR
num=int(input("THE NUMBER IS="))
print("RESULT=",num%10)

THE NUMBER IS= 453

RESULT= 3

In [16]:
#MIXED EXPRESSION
a=int(input("a:"))
b=int(input("b:"))
c=int(input("c:"))
d=int(input("d:"))
result=(a+b)*(c/d)
print("RESULT=",result)

a: 1
b: 2
c: 3
d: 4

RESULT= 2.25